body{
    background-color: beige;
}

.button-container{
    align-items: center;
    width: 320px;
    height: 520px;
    margin: 20px;
    border-radius: 25px;
    padding: 100px 50px;
    background-color: black;
}
button {
    color: black;
    align-content: center;
    background-color: silver;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 15px;
    font-size: 24px;
    font-style: bold;
}


button:hover{
    cursor: pointer;
    background-color: darkgoldenrod;
}

#display {
    background-color: silver;
    font-size: 24px;
    font-style: bold;
    font-family: 'Calibri';
    width: 320px;
    padding: 25px 50px;
    border-radius: 10px;
    margin: 20px;
}

.portfolio-link {
    margin-top: 10px;
    font-size: 24px;
    color:black;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
